$fonts: Raleway, Helvetica, sans-serif;

$btn-blue: #4e5d6c;


.row-centered {
  text-align: center;
  margin-right:0px !important;
  margin-left:0px !important;
  // padding-top: 40px;
}

.col-centered {
    float:none !important;
    margin: 0 auto;
}
.chart {
    background-color: #fff;
}
div.capitals {
    float:none !important;
    margin: 0 auto;
    display: inline-block;
    min-width:15em;
    padding-bottom: 1em;
    padding-top: 1em;
}

button {
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid $btn-blue;
    border-radius: 0.6em;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    &:hover,
    &:focus {
        color: #fff;
        outline: 0;
        background-color: $btn-blue;
  }
  .capital {
      margin-bottom: 2em;
  }
  .favourite {
      margin-left: auto !important;
      margin-right: auto !important;
      margin-bottom: 2em !important;
  }
}

#fav-success {
    display:none;
}

#fav-warning {
    display:none;
}

.pagination>.active>a {
    background-color: $btn-blue;
}
//BUTTON 1
.first {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    &:hover {
        box-shadow: 0 0 40px 40px $btn-blue inset;
    }
}

/* -------------------- Select Box Styles: stackoverflow.com Method */
/* -------------------- Source: http://stackoverflow.com/a/5809186 */
select {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555 !important;
   font-size: inherit;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
}
